#main {
    position: absolute;
    top: 3rem;
    font-size: 1rem;
    background: var(--colorBackground);
    color: var(--colorText);
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#mainPanel {
    background: var(--colorPanel);
    color: var(--colorText);
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 16px;
    border: 2px solid var(--colorSpec);
    width: 80vw;
    width: 80svw;
}

.faqBox {
    border-bottom: 2px solid var(--colorSpec);
    width: 100%;
}

.faqName{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.faqFolder {
    position: relative;
    padding-left: 1rem;
    display: none;
    transition: all 0.4s ease-in;
}

.faqFolder.active {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    padding-bottom: 1rem;
    transition: all 0.4s ease;
}

.faqArrow {
    height: 1rem;
    transform: rotate(90deg);
    transition: all 0.2s ease;
}

.faqArrow.active {
    transform: rotate(180deg);
}

.question {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question h2::before {
    content: "- "
}

.question a {
    padding-left: 1rem;
}

.lngContactUsButton:link {
    color:dodgerblue;
}

.lngContactUsButton:visited {
    color:darkorchid;
}

.contact {
    padding-top: 1rem;
}

@media screen and (max-width: 900px) {
    #main {
        font-size: 1rem;
        padding: 8px;
    }

    #mainPanel{
        padding: 8px;
        width: auto;
    }
}

@media screen and(max-aspect-ratio: 1/1) {
}